<template>
  <div :class="{ dark: darkTheme }" class="select-none flex flex-col overflow-hidden">
    <router-view
      v-on:toggleTheme="toggleTheme()"
      v-on:closeWindow="closeWindow()"
      v-on:maximizeWindow="maximizeWindow()"
      v-on:minimizeWindow="minimizeWindow()"
    />
  </div>
</template>

<script lang="ts">
import { IpcRenderer } from 'electron';

import { defineComponent, computed, onMounted } from 'vue';

import { useSettingsStore } from '@/store/settings';
import { useUserStore } from './store/user';
// import { useRoute } from 'vue-router';

declare global {
  interface Window {
    ipcRenderer: IpcRenderer;
  }
}

export default defineComponent({
  setup() {
    const settings = useSettingsStore();
    const user = useUserStore();
    const darkTheme = computed(() => settings.darkTheme);
    // const currentRoute = computed(() => useRoute().name).value as string;

    function toggleTheme() {
      settings.toggleTheme();
    }

    function closeWindow() {
      window.ipcRenderer.send('closeWindow');
    }

    function maximizeWindow() {
      window.ipcRenderer.send('maximizeWindow');
    }

    function minimizeWindow() {
      window.ipcRenderer.send('minimizeWindow');
    }

    onMounted(() => {
      const userJson = JSON.parse(JSON.stringify(user.user));
      window.ipcRenderer.send('loginCheck', userJson);
    });

    return {
      darkTheme,
      toggleTheme,
      closeWindow,
      maximizeWindow,
      minimizeWindow,
    };
  },
});
</script>

<style>
::-webkit-scrollbar {
  @apply w-1;
}
::-webkit-scrollbar-track {
  @apply rounded-full;
}
::-webkit-scrollbar-thumb {
  @apply rounded dark:bg-primary-dark bg-tertiary-light;
}
</style>
