<template>
  <div class="drag w-screen h-screen">
    <input v-model="emailModel" type="email" placeholder="email"
    style="-webkit-app-region: no-drag" />
    <input
      v-model="passwordModel"
      type="password"
      placeholder="password"
      style="-webkit-app-region: no-drag"
    />
    <button @click="login(emailModel, passwordModel)"
    style="-webkit-app-region: no-drag">login</button>
    <p v-if="error" class="text-red-600">{{ error }}</p>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import axios from 'axios';

import { useUserStore } from '@/store/user';

export default defineComponent({
  setup() {
    const userStore = useUserStore();

    const emailModel = ref('').value;
    const passwordModel = ref('').value;
    const error = ref('');

    function login(email: string, password: string) {
      axios
        .post('/login', {
          email,
          password,
        })
        .then((res) => {
          const data = {
            id: res.data.user.id,
            username: res.data.user.username,
            email: res.data.user.email,
            profilePicture: res.data.user.profilepicture,
          };

          userStore.login(data);
          window.ipcRenderer.send('login');
        })
        .catch((err) => {
          error.value = err.response.data.error;
        });
    }

    return {
      emailModel,
      passwordModel,
      error,
      login,
    };
  },
});
</script>
