<template>
  <div>
    <div
      class="w-screen h-screen bg-primary-light text-black dark:bg-primary-dark
      dark:text-white flex justify-center items-center"
    >
      <div class="flex flex-col items-center gap-4">
        <h1 class="text-2xl font-bold">
          <span class="text-brand-blue">Oops! </span>Couldn't find this page. Were you looking for
          something else?
        </h1>
        <button
          @click="$router.push('/')"
          class="font-medium text-brand-blue transition-opacity hover:opacity-80"
        >
          Head back home.
        </button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({});
</script>
