<template>
  <div class="flex flex-grow">
    <!-- prettier-ignore -->
    <div
      class="bg-secondary-light dark:bg-secondary-dark pr-6
      border-tertiary-light dark:border-tertiary-dark flex-grow"
    >
      <div class="flex flex-col w-64">
        <div class="mr-12 h-24 flex items-center">
          <h1 class="ml-6 font-medium text-2xl">
            Friends
            <span class="text-brand-blue font-bold text-lg">({{friends.length}})</span>
          </h1>
        </div>
      </div>

      <div class="h-px ml-6 bg-tertiary-light dark:bg-tertiary-dark"></div>
      <div v-if="friends" class="mt-3 ml-6 flex flex-col gap-3">
        <div v-for="(friend, index) in friends" :key="index"
        @click="startConversation(friend.id)"
        class="flex items-center gap-6 cursor-pointer
        bg-primary-light dark:bg-primary-dark py-2 px-3 group rounded-lg shadow">
          <img
            class="w-12 h-12 object-cover shadow-md group-hover:shadow-2xl group-hover:opacity-80
            transition-all duration-1000 ease-in-out rounded-lg"
            :src="friend.profilepicture ? friend.profilepicture
                : 'https://icon-library.com/images/default-profile-icon/default-profile-icon-16.jpg'
            "
          />
          <p>{{ friend.username }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { useUserStore } from '@/store/user';
import axios from 'axios';
import {
  defineComponent,
  onMounted,
  reactive,
  toRefs,
} from 'vue';
import { useRouter } from 'vue-router';

export default defineComponent({
  setup() {
    const { user } = useUserStore();
    const router = useRouter();

    const state = reactive({
      friends: [] as { id: number; username: string; profilepicture: string }[],
    });

    onMounted(() => {
      axios.get(`/user/friends/${user?.id}`).then((res) => {
        res.data.forEach((el: number) => {
          axios.get(`/user/${el}`).then((response) => {
            state.friends.push({
              id: el,
              username: response.data.username,
              profilepicture: response.data.profilepicture,
            });
          });
        });
      });
    });

    function startConversation(id: number) {
      axios.post('/conversation', { senderId: user?.id, receiverId: id }).then((res) => {
        router.push({ name: 'User', params: { id: res.data.id } });
      });
    }

    return { ...toRefs(state), startConversation };
  },
});
</script>
