<template>
  <!-- prettier-ignore -->
  <div
    class="flex w-screen h-screen bg-primary-light text-primary-dark
    dark:bg-primary-dark dark:text-white"
  >
    <the-title-bar
      @close-window="$emit('closeWindow')"
      @maximize-window="$emit('maximizeWindow')"
      @minimize-window="$emit('minimizeWindow')"
    />
    <the-sidebar
      v-on:toggleSettingsModal="toggleSettingsModal()"
      v-on:toggleTheme="$emit('toggleTheme')"
    />
    <transition name="fade">
      <the-settings-modal
        v-on:toggleTheme="$emit('toggleTheme')"
        v-on:toggleSettingsModal="toggleSettingsModal()"
        v-show="settingsModalVisible"
      />
    </transition>

    <transition name="fade">
      <the-add-friends-modal
        v-on:toggleAddFriendsModal="toggleAddFriendsModal()"
        v-if="addFriendsModalVisible"
      />
    </transition>

    <!-- <div
      v-if="!isOnline"
      class="
        absolute
        rounded
        shadow-md
        left-1/2
        right-1/2
        bottom-10
        w-max
        px-5
        py-2.5
        text-black
        dark:text-black
        bg-secondary-light
        dark:bg-primary-light
        flex
        justify-between
        items-center
        gap-5
      "
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        aria-hidden="true"
        role="img"
        class="w-6 h-6"
        preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 20 20"
      >
        <path
          d="M16.73 7.563c.403.404.783.864 1.115 1.344a.75.75 0 0
            1-1.235.852A7.968 7.968 0 0 0 4.4 8.623c-.32.322-.64.712-.932
            1.133a.75.75 0 1 1-1.233-.855c.34-.49.716-.95 1.105-1.338a9.468
            9.468 0 0 1 13.39 0zM5.478 9.451a6.444 6.444 0 0 1
            8.652-.417c-.516.095-1 .39-1.314.887a4.944 4.944 0 0
            0-7.192 1.851a.75.75 0 0 1-1.338-.677a6.403 6.403 0 0
            1 1.192-1.644zm4.303 6.524l1.075-2.153a1.242 1.242 0 1
            0-1.075 2.153zm1.702-3.41l.674-1.348a4.132 4.132 0 0
            0-5.044.623a4.145 4.145 0 0 0-.86 1.274a.75.75 0 0 0
            1.373.6c.136-.31.32-.586.547-.813c.9-.9 2.289-1.011
            3.31-.335zm2.119-2.011l-3.496 6.998A1 1 0 0 0 11.002
            19h6.996a1 1 0 0 0 .895-1.448l-3.5-6.999a1 1 0 0 0-1.79
            0zm1.395 1.941v3.002a.5.5 0 1 1-1 0v-3.002a.5.5 0 1 1 1
            0zm-.5 5.504a.5.5 0 1 1 0-1a.5.5 0 0 1 0 1z"
          fill="currentColor"
        />
      </svg>
      <h2>No connection</h2>
    </div> -->
    <router-view
    v-on:toggleAddFriendsModal="toggleAddFriendsModal()"
    class="pt-6"></router-view>
  </div>
</template>

<script lang="ts">
import TheSidebar from '@/components/TheSidebar.vue';
import TheTitleBar from '@/components/TheTitleBar.vue';
import TheSettingsModal from '@/components/TheSettingsModal.vue';
import TheAddFriendsModal from '@/components/TheAddFriendsModal.vue';

import { useSocket } from '@/composable/useSocket';

import {
  defineComponent,
  onMounted,
  ref,
  toRefs,
} from 'vue';
import { useMiscStore } from '@/store/misc';

export default defineComponent({
  setup() {
    const socket = useSocket();
    const { emojiPickerOpen } = toRefs(useMiscStore());

    onMounted(() => {
      socket.addUser();
    });

    const settingsModalVisible = ref(false);
    const addFriendsModalVisible = ref(false);

    function toggleSettingsModal() {
      settingsModalVisible.value = !settingsModalVisible.value;
      emojiPickerOpen.value = false;
    }

    function toggleAddFriendsModal() {
      addFriendsModalVisible.value = !addFriendsModalVisible.value;
      emojiPickerOpen.value = false;
    }

    return {
      settingsModalVisible,
      addFriendsModalVisible,
      toggleSettingsModal,
      toggleAddFriendsModal,
    };
  },
  components: {
    TheSidebar,
    TheSettingsModal,
    TheAddFriendsModal,
    TheTitleBar,
  },
});
</script>

<style>
.fade-enter-active,
.fade-leave-active {
  @apply transition-opacity;
}
.fade-enter,
.fade-leave-to {
  @apply opacity-0;
}
</style>
