<template>
  <!-- prettier-ignore -->
  <div class="flex flex-grow">
    <div
      class="bg-secondary-light dark:bg-secondary-dark px-6 border-tertiary-light
      dark:border-tertiary-dark border-r h-screen flex flex-col"
    >
      <div class="flex flex-col w-56">
        <div class="h-24 flex items-center">
          <h1 class="font-medium text-2xl">Messages</h1>
        </div>
      </div>

      <div class="h-px w-full bg-tertiary-light dark:bg-tertiary-dark flex-shrink-0"></div>

      <div class="mt-6 h-full flex-grow overflow-visible">
        <div v-if="conversationsStore.pinnedConversations.length">
          <div
            class="flex items-center justify-between text-tertiary-light
            dark:text-tertiary-dark ml-px"
          >
            <h4 class="text-xs tracking-tighter leading-none transform translate-y-0.5">
              PINNED
              <span class="text-brand-blue ml-1">
                ({{ conversationsStore.pinnedConversations.length }})
              </span>
            </h4>

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
            @click="clearPinnedConversations"
            class="h-5 w-5 hover:opacity-80 cursor-pointer">
              <path fill="currentColor" d="M20,6H16V5a3,3,0,0,0-3-3H11A3,
              3,0,0,0,8,5V6H4A1,1,0,0,0,4,8H5V19a3,3,0,0,0,3,3h8a3,3,0,0,
              0,3-3V8h1a1,1,0,0,0,0-2ZM10,5a1,1,0,0,1,1-1h2a1,1,0,0,1,1,
              1V6H10Zm7,14a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V8H17Z"/>
            </svg>
          </div>
          <div class="flex flex-col gap-3 my-6 mx-px">
            <Conversation v-for="pinnedConversation, index in
            conversationsStore.pinnedConversations"
            :key="index" :conversation="pinnedConversation"
            @click.middle="unpinConversation(index)"/>
          </div>
        </div>

        <div
          class="flex items-center justify-between text-tertiary-light
          dark:text-tertiary-dark ml-px"
        >
          <h4 class="text-xs tracking-tighter leading-none transform translate-y-0.5">
            ALL MESSAGES
            <span class="text-brand-blue ml-1">({{ conversations?.length }})</span>
          </h4>

          <div class="relative group">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              @click="$emit('toggleAddFriendsModal')"
              class="h-5 w-5 text-tertiary-light dark:text-tertiary-dark cursor-pointer
              hover:opacity-80 transition-opacity"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 6v6m0 0v6m0-6h6m-6 0H6"
              />
            </svg>
          </div>
        </div>

        <div v-if="conversations" class="flex flex-col gap-3 mt-6 pb-12 mx-px">
          <Conversation v-for="conversation, index in conversations"
          :key="index" :conversation="conversation"
          @click.middle="pinConversation(conversation)"/>
        </div>
      </div>
    </div>

    <router-view v-if="currentUser"></router-view>
    <div v-else class="p-5 w-full flex flex-col gap-5 items-center justify-center">
      <svg viewBox="0 0 439 182" class="max-w-sm" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          class="text-secondary-light dark:text-secondary-dark"
          d="M0 0H438.973V144.107H422.345V181.797L384.656 144.107H0V0Z"
          fill="currentColor"
        />
        <path d="M242.115 48.8004H42.5022V54.8581H242.115V48.8004Z" fill="#1973B6" />
        <path d="M390.115 69.756H42.2068V75.8137H390.115V69.756Z" fill="#1973B6" />
        <path d="M390.115 90.7116H42.5475V96.7693H390.115V90.7116Z" fill="#1973B6" />
      </svg>
      <div class="h-px px-16 bg-tertiary-light dark:bg-tertiary-dark"></div>
      <h1 class="font-medium text-center text-2xl">It's nice to chat with someone.</h1>
      <p class="text-center">
        <span
          @click="$emit('toggleAddFriendsModal')"
          class="text-brand-blue hover:opacity-80 cursor-pointer transition-opacity"
          >Add a friend</span
        >
        to start a conversation!
      </p>
    </div>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  computed,
  reactive,
  toRefs,
  onMounted,
} from 'vue';
import { useRoute, useRouter } from 'vue-router';

import Conversation from '@/components/Conversation.vue';

import { useConversationsStore } from '@/store/conversations';
import { useUserStore } from '@/store/user';

import axios from 'axios';

interface conversation {
  id: number;
  members: string[];
  createdAt: string;
  updatedAt: string;
}

export default defineComponent({
  setup() {
    const conversationsStore = useConversationsStore();
    const userStore = useUserStore();

    const currentUser = computed(() => useRoute().params.id) as unknown as number | 0;
    const state = reactive({ conversations: [] as conversation[] });

    const router = useRouter();

    onMounted(() => {
      axios.get(`/conversations/${userStore.user?.id}`).then((res) => {
        state.conversations = res.data;
      });

      router.push({
        name: 'User',
        params: { id: conversationsStore.lastConversation },
      });
    });

    function pinConversation(el: any) {
      conversationsStore.pinConversation(el);
    }

    function unpinConversation(index: number) {
      conversationsStore.unpinConversation(index);
    }

    function clearPinnedConversations() {
      conversationsStore.clearPinnedConversations();
    }

    return {
      currentUser,
      pinConversation,
      unpinConversation,
      clearPinnedConversations,
      conversationsStore,
      ...toRefs(state),
    };
  },
  components: {
    Conversation,
  },
});
</script>
