<template>
  <div class="flex flex-col flex-grow" @keypress="inputRef?.focus()">
    <div class="bg-primary-light dark:bg-primary-dark pr-6 w-full">
      <div class="flex flex-col">
        <div class="h-24 ml-6 flex items-center gap-4">
          <div class="w-10 h-10 relative">
            <img
              class="object-fill w-full h-full rounded-full"
              :src="
                otherUser.profilepicture
                  ? otherUser.profilepicture
                  : 'https://icon-library.com/images/default-profile-icon/default-profile-icon-16.jpg'
              "
              alt=""
            />
            <span class="absolute right-0 bottom-0 z-10 w-3 h-3 rounded-full bg-green-400"></span>
          </div>
          <div>
            <h1 class="font-medium text-xl tracking-tight leading-none">
              {{ otherUser?.username }}
            </h1>
            <p class="text-xs font-medium text-tertiary-light dark:text-tertiary-dark">ONLINE</p>
          </div>
        </div>
      </div>

      <div class="h-px ml-6 bg-tertiary-light dark:bg-tertiary-dark"></div>
    </div>

    <div class="mb-6 mx-6 flex flex-col overflow-y-auto" ref="messagesContainer">
      <MessageBubble :messages="messages" />
      <!-- <p v-for="message in messages" :key="message.conversationId">{{ message.text }}</p> -->
    </div>

    <!-- prettier-ignore -->
    <div
      class="dark:text-secondary-light text-secondary-dark font-medium
      dark:bg-secondary-dark border border-tertiary-light dark:border-tertiary-dark
      rounded-lg mt-auto flex items-center gap px-3 py-2.5 m-6"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5 hover:opacity-80 transition-opacity cursor-pointer"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M15.172 7l-6.586 6.586a2 2 0 102.828
            2.828l6.414-6.586a4 4 0 00-5.656-5.656l-6.415 6.585a6 6 0
            108.486 8.486L20.5 13"
        />
      </svg>
      <div class="w-px h-full mx-3 bg-tertiary-dark"></div>
      <input
        ref="inputRef"
        v-focus
        v-model="message"
        @keypress.enter="sendMessage(message)"
        spellcheck="false"
        class="outline-none bg-transparent flex-grow leading-none tracking-tight"
        type="text"
      />
      <div>
        <svg xmlns="http://www.w3.org/2000/svg"
          @click="emojiPickerOpen = !emojiPickerOpen"
          class="h-5 w-5 hover:opacity-80 transition-opacity cursor-pointer ml-3"
          fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round"
          stroke-width="2" d="M14.828 14.828a4 4 0 01-5.656
          0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <Transition name="slideIn">
          <EmojiPicker v-if="emojiPickerOpen" @addEmoji="addEmoji"/>
        </Transition>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  onMounted,
  Ref,
  ref,
  toRefs,
  watch,
} from 'vue';
import MessageBubble from '@/components/MessageBubble.vue';
import axios from 'axios';

import EmojiPicker from '@/components/EmojiPicker.vue';

// import { useSocket } from '@/composable/useSocket';

import { useUserStore } from '@/store/user';
import { useMiscStore } from '@/store/misc';

const focus = {
  updated: async (el: HTMLElement) => {
    el.focus();
  },
  mounted: async (el: HTMLElement) => {
    el.focus();
  },
};

export default defineComponent({
  props: {
    id: {
      type: Number,
    },
  },
  setup(props) {
    // const socket = useSocket();
    const userStore = useUserStore();

    const { emojiPickerOpen } = toRefs(useMiscStore());

    const inputRef = ref<HTMLInputElement | null>(null);

    const message = ref('');

    function addEmoji(emoji: string) {
      const caretPosition = inputRef.value?.selectionStart;
      if (caretPosition) {
        const arrMessage = [...message.value];
        arrMessage.splice(caretPosition, 0, emoji);
        message.value = arrMessage.join('');
      } else {
        message.value += emoji;
      }
    }

    const otherUser = ref({ username: '', profilepicture: '' });
    const messages = ref([
      {
        conversationId: '' as string | undefined,
        sender: '' as string | number | undefined,
        text: '',
        createdAt: null as number | null,
      },
    ]);

    const thisConversation = ref('');

    const messagesContainer = ref(null) as Ref<null> | Ref<Element>;

    function scrollToBottom() {
      if (messagesContainer.value) {
        messagesContainer.value.scrollTop = messagesContainer.value.scrollHeight;
      }
    }

    function getOtherUserData() {
      axios.get(`/user/${props.id}`).then((res) => {
        otherUser.value = res.data;
      });
    }

    function getMessages(conversationId: string) {
      axios
        .get(`/message/${conversationId}`)
        .then((res) => {
          messages.value = res.data;
        })
        .finally(() => {
          scrollToBottom();
        });
    }

    function getConversation() {
      axios
        .get(`/conversation/find/${userStore.user?.id.toString()}/${props.id?.toString()}`)
        .then((res) => {
          thisConversation.value = res.data.id;
          getMessages(res.data.id);
        });
    }

    onMounted(() => {
      getOtherUserData();
      messages.value = [];
      getConversation();
    });

    function sendMessage(text: string) {
      axios
        .post('/message', {
          conversationId: thisConversation.value,
          sender: userStore.user?.id,
          text,
        })
        .then(() => {
          message.value = '';
          messages.value.push({
            conversationId: props.id?.toString(),
            sender: userStore.user?.id,
            text,
            createdAt: Date.now(),
          });
          console.log(messages.value);
        })
        .then(() => {
          scrollToBottom();
          emojiPickerOpen.value = false;
        });
    }

    watch(props, () => {
      getOtherUserData();
      messages.value = [];
      getConversation();
      message.value = '';
    });

    return {
      message,
      otherUser,
      messages,
      messagesContainer,
      sendMessage,
      emojiPickerOpen,
      addEmoji,
      inputRef,
    };
  },
  components: {
    MessageBubble,
    EmojiPicker,
  },
  directives: {
    focus,
  },
});
</script>

<style>
.slideIn-enter-active,
.slideIn-leave-active {
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.slideIn-enter-from,
.slideIn-leave-to {
  transform: translateY(20px);
  opacity: 0;
}
</style>
