<template>
  <!-- @click.middle="pinConversation(conversation)" -->
  <!-- @click="changeUser(conversation.id)" -->
  <!-- -->
  <!-- :src="
        userData[index].profilepicture
          ? userData[index].profilepicture
          : 'https://icon-library.com/images/default-profile-icon/default-profile-icon-16.jpg'
      " -->
  <!-- :class="{
      'ring-1 ring-tertiary-light dark:ring-tertiary-dark':
        conversation.id == store.state.lastVisitedUser,
    }" -->

  <!-- prettier-ignore -->
  <div
    @click="changeUser(otherUser)"
    v-if="userData"
    class="cursor-pointer w-full h-14 bg-primary-light dark:bg-primary-dark rounded
    transition-shadow shadow hover:bg-opacity-80 hover:shadow-md flex items-center"
  >
    <img class="w-10 h-10 m-2 rounded-full object-fill" alt=""
      :src="
        userData?.profilepicture
          ? userData?.profilepicture
          : 'https://icon-library.com/images/default-profile-icon/default-profile-icon-16.jpg'"
    />
    <div class="flex flex-col ml-2">
      <h5 class="font-medium text-sm">{{ userData?.username }}</h5>
    </div>
  </div>
</template>

<script lang="ts">
import axios from 'axios';

import {
  computed,
  defineComponent,
  onMounted,
  ref,
} from 'vue';

import { useRouter } from 'vue-router';

import { useUserStore } from '@/store/user';
import { useConversationsStore } from '@/store/conversations';

export default defineComponent({
  setup(props) {
    const userStore = useUserStore();
    const conversationsStore = useConversationsStore();

    const otherUser = computed(() => props.conversation.members
      .find((m: string) => m !== userStore.user?.id.toString()));

    const userData = ref({
      username: '',
      profilepicture: '',
    });

    function getUserData(user: { username: string; profilepicture: string }) {
      axios.get(`/user/${user}`).then((res) => {
        userData.value = res.data;
      });
    }

    onMounted(() => {
      getUserData(otherUser.value);
    });

    const router = useRouter();

    function changeUser(id: string) {
      router.push({
        name: 'User',
        params: { id },
      });

      conversationsStore.changeLastConversation(parseInt(id, 10));
    }

    return {
      otherUser,
      conversationsStore,
      userData,
      changeUser,
    };
  },
  props: ['conversation'],
});
</script>
