<template>
  <div
    class="w-80 h-96 bg-secondary-light dark:bg-secondary-dark absolute right-6 bottom-20
    dark:text-primary-light font-bold p-6 z-40 rounded-xl bg-opacity-80
    backdrop-filter backdrop-blur-md overflow-y-scroll overflow-x-hidden shadow"
  >
    <div class="flex gap-2 items-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5 transform -translate-y-0.5"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
        />
      </svg>
      <h1>Emoji</h1>
    </div>
    <div class="w-full px-6 h-px dark:bg-tertiary-dark my-3"></div>
    <div class="grid grid-cols-8 gap-1.5 text-2xl">
      <div
        @click="$emit('addEmoji', emoji)"
        v-for="emoji, index in emojis" :key="index"
        class="hover:opacity-80 cursor-pointer transition-opacity">
        {{ emoji }}
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  setup() {
    const emojis = [
      '✌',
      '😂',
      '😝',
      '😁',
      '😱',
      '👉',
      '🙌',
      '🍻',
      '🔥',
      '🌈',
      '☀',
      '🎈',
      '🌹',
      '💄',
      '🎀',
      '⚽',
      '🎾',
      '🏁',
      '😡',
      '👿',
      '🐻',
      '🐶',
      '🐬',
      '🐟',
      '🍀',
      '👀',
      '🚗',
      '🍎',
      '💝',
      '💙',
      '👌',
      '❤',
      '😍',
      '😉',
      '😓',
      '😳',
      '💪',
      '💩',
      '🍸',
      '🔑',
      '💖',
      '🌟',
      '🎉',
      '🌺',
      '🎶',
      '👠',
      '🏈',
      '⚾',
      '🏆',
      '👽',
      '💀',
      '🐵',
      '🐮',
      '🐩',
      '🐎',
      '💣',
      '👃',
      '👂',
      '🍓',
      '💘',
      '💜',
      '👊',
      '💋',
      '😘',
      '😜',
      '😵',
      '🙏',
      '👋',
      '🚽',
      '💃',
      '💎',
      '🚀',
      '🌙',
      '🎁',
      '⛄',
      '🌊',
      '⛵',
      '🏀',
      '🎱',
      '💰',
      '👶',
      '👸',
      '🐰',
      '🐷',
      '🐍',
      '🐫',
      '🔫',
      '👄',
      '🚲',
      '🍉',
      '💛',
      '💚',
    ];
    return { emojis };
  },
});
</script>
