<template>
  <div
    :class="message.sender == userId ? 'self-end' : 'self-start'"
    class="flex items-center mt-3 gap-3 group mb-1"
    v-for="message in messages"
    :key="message.id"
  >
    <p v-if="message.sender == userId"
    class="opacity-0 group-hover:opacity-20 transition-opacity text-xs lg:text-sm text-right">
      {{ formattedDate(message.createdAt) }}
    </p>
    <div
      :class="message.sender == userId ? 'rounded-l-3xl' : 'rounded-r-3xl'"
      class="border-tertiary-light
      dark:bg-secondary-dark dark:border-tertiary-dark px-5 py-3
      shadow-md leading-none select-text rounded-t-3xl break-words max-w-xs lg:max-w-md"
    >
      {{ message.text }}
    </div>
    <p v-if="message.sender != userId"
    class="opacity-0 group-hover:opacity-20 transition-opacity text-xs lg:text-sm text-left">
      {{ formattedDate(message.createdAt) }}
    </p>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import moment from 'moment';
import { useUserStore } from '@/store/user';

export default defineComponent({
  setup() {
    const userStore = useUserStore();

    const formattedDate = (date: string) => moment(date).format('ddd, h:mm a');

    return { userId: userStore.user?.id, formattedDate };
  },
  props: ['messages'],
});
</script>
