<template>
  <!-- prettier-ignore -->
  <div
    @click="$emit('toggleAddFriendsModal')"
    class="absolute h-screen w-screen backdrop-filter backdrop-blur-lg
    bg-primary-dark dark:bg-tertiary-dark bg-opacity-20 dark:bg-opacity-5
    flex items-center justify-center z-20"
  >
    <div @click.stop class="w-full px-4 py-4 flex gap-2.5 mx-96 bg-primary-light
    dark:bg-primary-dark text-tertiary-light dark:text-tertiary-dark
    items-center rounded shadow">
      <svg xmlns="http://www.w3.org/2000/svg"
      class="h-5 w-5" fill="none"
      viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round"
        stroke-width="2"
        d="M16 12a4 4 0 10-8 0 4 4 0 008
        0zm0 0v1.5a2.5 2.5 0 005 0V12a9
        9 0 10-9 9m4.5-1.206a8.959 8.959
        0 01-4.5 1.207" />
      </svg>

      <input
      v-focus
      class="bg-transparent outline-none text-primary-dark
      dark:text-primary-light flex-grow font-medium transform"
      type="text" placeholder="Username">

      <svg
      @click="$emit('toggleAddFriendsModal')"
      xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-primary-dark
      dark:text-primary-light cursor-pointer hover:opacity-80 transition-opacity"
      fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round"
        stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

const focus = {
  mounted: async (el: HTMLElement) => {
    el.focus();
  },
};

export default defineComponent({
  directives: {
    focus,
  },
});
</script>
