<template>
  <!-- prettier-ignore -->
  <div
    class="flex flex-col flex-shrink-0 items-center pt-6 w-20 h-screen
    border-tertiary-light dark:border-tertiary-dark border-r"
  >
    <img
      class="w-12 h-12 object-cover my-6 shadow-md hover:shadow-2xl hover:opacity-80
      transition-all duration-1000 cursor-pointer ease-in-out pfp"
      :src="
        userStore.user?.profilePicture
          ? userStore.user?.profilePicture
          : 'https://icon-library.com/images/default-profile-icon/default-profile-icon-16.jpg'
      "
    />
    <div class="h-px w-1/2 bg-tertiary-light dark:bg-tertiary-dark"></div>
    <div class="flex flex-col gap-6 mt-6">
      <svg
        @click="pushConversations"
        :class="{
          'text-brand-blue dark:text-brand-blue':
            currentRoute == 'Conversations' || currentRoute == 'User',
        }"
        class="text-tertiary-light dark:text-tertiary-dark transition-opacity
        hover:opacity-80 cursor-pointer"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M16 2C16.5304 2 17.0391 2.21071 17.4142 2.58579C17.7893 2.96086
              18 3.46957 18 4H4V15.177C3.46957 15.177 2.96086 14.9663 2.58579
              14.5912C2.21071 14.2161 2 13.7074 2 13.177V4C2 3.46957 2.21071
              2.96086 2.58579 2.58579C2.96086 2.21071
              3.46957 2 4 2H16Z"
        />
        <path
          d="M14 22L11.333 19.177H8C7.46957 19.177 6.96086 18.9663
              6.58579 18.5912C6.21071 18.2161 6 17.7074
              6 17.177V8C6 7.46957 6.21071 6.96086 6.58579 6.58579C6.96086
              6.21071 7.46957 6 8 6H20C20.5304 6 21.0391
              6.21071 21.4142 6.58579C21.7893 6.96086 22 7.46957 22 8V17.177C22
              17.7074 21.7893 18.2161 21.4142
              18.5912C21.0391 18.9663 20.5304 19.177 20 19.177H16.667L14 22Z"
        />
      </svg>
      <svg
        @click="$router.push({ name: 'Friends' })"
        :class="{
          'text-brand-blue dark:text-brand-blue': currentRoute == 'Friends',
        }"
        class="text-tertiary-light dark:text-tertiary-dark transition-opacity
        hover:opacity-80 cursor-pointer"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
      >
        <path
          d="M10 4C8.93913 4 7.92172 4.42143 7.17157 5.17157C6.42143
              5.92172 6 6.93913 6 8C6 9.06087 6.42143 10.0783 7.17157
              10.8284C7.92172 11.5786 8.93913 12 10 12C11.0609 12 12.0783
              11.5786 12.8284 10.8284C13.5786 10.0783 14 9.06087 14 8C14
              6.93913 13.5786 5.92172 12.8284 5.17157C12.0783 4.42143
              11.0609 4 10 4ZM4 8C4 6.4087 4.63214 4.88258 5.75736
              3.75736C6.88258 2.63214 8.4087 2 10 2C11.5913 2 13.1174 2.63214
              14.2426 3.75736C15.3679 4.88258 16 6.4087 16 8C16 9.5913 15.3679
              11.1174 14.2426 12.2426C13.1174 13.3679 11.5913 14 10 14C8.4087
              14 6.88258 13.3679 5.75736 12.2426C4.63214 11.1174 4 9.5913
              4 8ZM16.828 3.757C16.9209 3.66402 17.0312 3.59026 17.1526
              3.53994C17.274 3.48962 17.4041 3.46371 17.5355 3.46371C17.6669
              3.46371 17.797 3.48962 17.9184 3.53994C18.0398 3.59026 18.1501
              3.66402 18.243 3.757C18.8003 4.31416 19.2423 4.97565 19.5439
              5.70366C19.8455 6.43168 20.0007 7.21198 20.0007 8C20.0007
              8.78802 19.8455 9.56832 19.5439 10.2963C19.2423 11.0244 18.8003
              11.6858 18.243 12.243C18.1501 12.3359 18.0398 12.4096 17.9184
              12.4599C17.797 12.5102 17.6669 12.5361 17.5355 12.5361C17.4041
              12.5361 17.274 12.5102 17.1526 12.4599C17.0312 12.4096 16.9209
              12.3359 16.828 12.243C16.7351 12.1501 16.6614 12.0398 16.6111
              11.9184C16.5608 11.797 16.5349 11.6669 16.5349 11.5355C16.5349
              11.4041 16.5608 11.274 16.6111 11.1526C16.6614 11.0312 16.7351
              10.9209 16.828 10.828C17.5779 10.0779 17.9991 9.06066 17.9991
              8C17.9991 6.93934 17.5779 5.92211 16.828 5.172C16.735 5.07913
              16.6613 4.96884 16.6109 4.84744C16.5606 4.72604 16.5347 4.59592
              16.5347 4.4645C16.5347 4.33308 16.5606 4.20296 16.6109 4.08156C16.6613
              3.96016 16.735 3.84987 16.828 3.757ZM17.53 16.757C17.5945 16.5 17.7583
              16.279 17.9856 16.1427C18.2128 16.0064 18.4849 15.9659 18.742 16.03C20.07
              16.362 20.911 17.21 21.394 18.178C21.862 19.113 22 20.158 22 21C22 21.2652
              21.8946 21.5196 21.7071 21.7071C21.5196 21.8946 21.2652 22 21 22C20.7348
              22 20.4804 21.8946 20.2929 21.7071C20.1054 21.5196 20 21.2652 20 21C20
              20.343 19.888 19.637 19.606 19.072C19.339 18.539 18.929 18.138
              18.257 17.97C18 17.9055 17.779 17.7417 17.6427 17.5144C17.5064
              17.2872 17.4659 17.0151 17.53 16.758V16.757ZM6.5 18C5.24 18 4
              19.213 4 21C4 21.2652 3.89464 21.5196 3.70711 21.7071C3.51957
              21.8946 3.26522 22 3 22C2.73478 22 2.48043 21.8946 2.29289
              21.7071C2.10536 21.5196 2 21.2652 2 21C2 18.368 3.893 16 6.5
              16H13.5C16.107 16 18 18.368 18 21C18 21.2652 17.8946 21.5196
              17.7071 21.7071C17.5196 21.8946 17.2652 22 17 22C16.7348 22
              16.4804 21.8946 16.2929 21.7071C16.1054 21.5196 16 21.2652
              16 21C16 19.213 14.76 18 13.5 18H6.5Z"
        />
      </svg>
    </div>

    <svg
      @click="$emit('toggleSettingsModal')"
      class="text-tertiary-light dark:text-tertiary-dark transition-opacity
      hover:opacity-80 mt-auto cursor-pointer my-6"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M20.2499 12.5701V12.0001V11.4226L21.6899 10.1626C21.9554 9.9286
          22.1296 9.60833 22.1817 9.25836C22.2339 8.90839 22.1606 8.55125 21.9749
          8.25006L20.2049 5.25006C20.0734 5.02226 19.8843 4.83305 19.6566
          4.70141C19.4288 4.56977 19.1705 4.50033 18.9074 4.50006C18.7444
          4.49881 18.5823 4.52414 18.4274 4.57506L16.6049 5.19006C16.2903
          4.98097 15.9621 4.79305 15.6224 4.62756L15.2399 2.73756C15.1714
          2.39226 14.9835 2.08209 14.7093 1.86134C14.4351 1.64058 14.0919
          1.52332 13.7399 1.53006H10.2299C9.87797 1.52332 9.53483 1.64058
          9.2606 1.86134C8.98638 2.08209 8.79853 2.39226 8.72995 2.73756L8.34745
          4.62756C8.0054 4.79301 7.67467 4.98092 7.35745 5.19006L5.57245
          4.54506C5.41592 4.50428 5.25383 4.48908 5.09245 4.50006C4.8294
          4.50033 4.57105 4.56977 4.34332 4.70141C4.11558 4.83305 3.92647
          5.02226 3.79495 5.25006L2.02495 8.25006C1.84989 8.5508 1.78483
          8.90305 1.84093 9.24648C1.89703 9.58991 2.07079 9.90316 2.33245
          10.1326L3.74995 11.4301V12.5776L2.33245 13.8376C2.0634 14.0686 1.88489
          14.3874 1.82859 14.7375C1.7723 15.0876 1.84187 15.4464 2.02495
          15.7501L3.79495 18.7501C3.92647 18.9779 4.11558 19.1671 4.34332
          19.2987C4.57105 19.4304 4.8294 19.4998 5.09245 19.5001C5.25546 19.5013
          5.41758 19.476 5.57245 19.4251L7.39495 18.8101C7.7096 19.0192 8.03783
          19.2071 8.37745 19.3726L8.75995 21.2626C8.82853 21.6079 9.01638 21.918
          9.2906 22.1388C9.56483 22.3595 9.90797 22.4768 10.2599
          22.4701H13.7999C14.1519 22.4768 14.4951 22.3595 14.7693 22.1388C15.0435
          21.918 15.2314 21.6079 15.2999 21.2626L15.6824 19.3726C16.0245 19.2071
          16.3552 19.0192 16.6724 18.8101L18.4874 19.4251C18.6423 19.476 18.8044
          19.5013 18.9674 19.5001C19.2305 19.4998 19.4888 19.4304 19.7166
          19.2987C19.9443 19.1671 20.1334 18.9779 20.2649 18.7501L21.9749
          15.7501C22.15 15.4493 22.2151 15.0971 22.159 14.7536C22.1029 14.4102
          21.9291 14.097 21.6674 13.8676L20.2499 12.5701ZM18.9074 18.0001L16.3349
          17.1301C15.7327 17.6401 15.0445 18.0389 14.3024 18.3076L13.7699
          21.0001H10.2299L9.69745 18.3376C8.96126 18.0612 8.27673 17.6632 7.67245
          17.1601L5.09245 18.0001L3.32245 15.0001L5.36245 13.2001C5.22377 12.4237
          5.22377 11.6289 5.36245 10.8526L3.32245 9.00006L5.09245 6.00006L7.66495
          6.87006C8.26715 6.35998 8.9554 5.96125 9.69745 5.69256L10.2299
          3.00006H13.7699L14.3024 5.66256C15.0386 5.93888 15.7232 6.33692 16.3274
          6.84006L18.9074 6.00006L20.6774 9.00006L18.6374 10.8001C18.7761 11.5764
          18.7761 12.3712 18.6374 13.1476L20.6774 15.0001L18.9074 18.0001Z"
      />
      <path
        d="M12 16.5C11.11 16.5 10.24 16.2361 9.49994 15.7416C8.75991 15.2471
          8.18314 14.5443 7.84254 13.7221C7.50195 12.8998 7.41283 11.995 7.58647
          11.1221C7.7601 10.2492 8.18868 9.44736 8.81802 8.81802C9.44736 8.18868
          10.2492 7.7601 11.1221 7.58647C11.995 7.41283 12.8998 7.50195 13.7221
          7.84254C14.5443 8.18314 15.2471 8.75991 15.7416 9.49994C16.2361 10.24
          16.5 11.11 16.5 12C16.506 12.5926 16.3937 13.1805 16.1697 13.7292C15.9457
          14.2779 15.6145 14.7763 15.1954 15.1954C14.7763 15.6145 14.2779 15.9457
          13.7292 16.1697C13.1805 16.3937 12.5926 16.506 12 16.5ZM12 9C11.6035
          8.99077 11.2093 9.06205 10.8411 9.20954C10.473 9.35704 10.1386 9.57768
          9.85812 9.85812C9.57768 10.1386 9.35704 10.473 9.20954 10.8411C9.06205
          11.2093 8.99077 11.6035 9 12C8.99077 12.3965 9.06205 12.7907 9.20954
          13.1589C9.35704 13.527 9.57768 13.8615 9.85812 14.1419C10.1386 14.4223
          10.473 14.643 10.8411 14.7905C11.2093 14.938 11.6035 15.0092 12 15C12.3965
          15.0092 12.7907 14.938 13.1589 14.7905C13.527 14.643 13.8615 14.4223
          14.1419 14.1419C14.4223 13.8615 14.643 13.527 14.7905 13.1589C14.938
          12.7907 15.0092 12.3965 15 12C15.0092 11.6035 14.938 11.2093 14.7905
          10.8411C14.643 10.473 14.4223 10.1386 14.1419 9.85812C13.8615 9.57768
          13.527 9.35704 13.1589 9.20954C12.7907 9.06205 12.3965 8.99077 12 9Z"
      />
    </svg>
    <!-- <div
      class="
        mt-auto
        mb-6
        w-6
        h-6
        bg-tertiary-dark
        flex
        items-center
        justify-center
      "
    >
      <input @click="$emit('toggleTheme')" type="checkbox" name="" id="" />
    </div> -->
  </div>
</template>

<script lang="ts">
import { defineComponent, computed } from 'vue';
import { useRoute, useRouter } from 'vue-router';

import { useUserStore } from '@/store/user';
import { useConversationsStore } from '@/store/conversations';

export default defineComponent({
  setup() {
    const userStore = useUserStore();
    const conversationsStore = useConversationsStore();
    const currentRoute = computed(() => useRoute().name);
    const router = useRouter();

    function pushConversations() {
      if (conversationsStore.lastConversation) {
        router.push({ name: 'User', params: { id: conversationsStore.lastConversation } });
      } else {
        router.push({ name: 'User' });
      }
    }

    return { currentRoute, userStore, pushConversations };
  },
});
</script>

<style>
.pfp {
  @apply transition-all rounded-2xl;
}
.pfp:hover {
  border-radius: 10px;
}
</style>
