<template>
  <div
    class="w-screen h-6 bg-black border-b border-secondary-dark flex
    items-center z-30 justify-between absolute top-0 drag text-white"
  >
    <span></span>
    <div class="flex click">
      <svg
        @click="$emit('minimize-window')"
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 hover:bg-secondary-dark p-1"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12H4" />
      </svg>
      <svg
        @click="$emit('maximize-window')"
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 hover:bg-secondary-dark p-1"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M8 16H6a2 2 0 01-2-2V6a2 2 0 012-2h8a2 2 0 012 2v2m-6
          12h8a2 2 0 002-2v-8a2 2 0 00-2-2h-8a2 2 0 00-2 2v8a2 2 0 002 2z"
        />
      </svg>
      <svg
        @click="$emit('close-window')"
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 hover:bg-red-600 p-1"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  methods: {},
});
</script>
