@tailwind base;
@tailwind components;

@layer base {
  @font-face {
    font-family: GabrielSans;
    font-weight: bold;
    src: url('../assets/fonts/Gabriel-Sans-Bold.otf');
  }

  @font-face {
    font-family: GabrielSans;
    font-weight: medium;
    src: url('../assets/fonts/Gabriel-Sans-Medium.otf');
  }

  @font-face {
    font-family: GabrielSans;
    font-weight: normal;
    src: url('../assets/fonts/Gabriel-Sans-Normal.otf');
  }
}

@tailwind utilities;

html {
  @apply text-black;
}

.drag {
  -webkit-app-region: drag;
}

.click {
  -webkit-app-region: no-drag;
}
